.dialogs {
  display: grid;
  grid-template-areas:
  "d m";
  grid-template-columns: 1fr 4fr;
  margin: auto;
}

.dialogItems {
  grid-area: d;
  padding: 10px;
}

.dialogItems .activeLink {
  color: black;
  text-decoration: none;
}

.dialog {
  color: white;
  text-decoration: none;
}

.messages {
  grid-area: m;
  padding: 10px;

}

.message {
}
