.preview {
  height: 200px;
  background: no-repeat center url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg");
}

.info {
  padding: 10px;
}

.avatar {
  display: inline;
}

img {
  height: 150px;
  border-radius: 5%;
}

.description, .description {
  padding: 0 5px;
  display: inline;
}
